@model CQA.Models.Question

@{
    ViewBag.Title = "Odpovedzte na otázku";
}


@section Styles {
        @Styles.Render("~/Content/themes/base/css")
}

<h3>Odpovedzte na otázku</h3>

<div class="question">
    Otázka:
    <h3>@Html.DisplayFor(model => model.QuestionText)</h3>
    @if (Model.Hint != null)
    {
        <div id="hint"> @Ajax.ActionLink("Zobraziť nápovedu", "GetHint", "Questions", new { questionId = Model.QuestionId }, new AjaxOptions
                   {
                       OnSuccess = "showHint(data)",
                       HttpMethod = "GET"
                   },
                   new { @class = "btn" })        
        </div>
    }
</div>
 
   
    @{Html.RenderPartial("_CreateAnswerForm", new CQA.Models.CreateAnswer(Model.QuestionId));}
    <div id="loader" style="display:none">Loadujem</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/AnswerAndEvaluateCommon.js"></script>   
        <script>

            $(document).ready(function () {
                $("#MenuSetupItem"+@(Model.SetupId)).addClass("activeMenuItem")
            })

            function onAnswerCreation() {
                $("#loader").fadeIn(100);
            }

            function AnswerCreated(data) {
                var s = '<div class="answer">' +
               '<div class="answer-author">' + data.answerAuthor + '</div>' +
               '<div class="answer-text">' + data.answerText + '</div>' +
                '<form data-ajax="true" data-ajax-method="POST" data-ajax-url="/Questions/CreateEvaluation" method="post">' +
                    '<input name="answerId" type="hidden" value="'+data.answerId+'" />' +
                    '<input type="hidden" class="rating" name="rating" value="50" />' +
                    '<div class="slider-range"></div>' +
                    '<input type="submit" />' +
                '</form>' +
                '</div>'

                $("#loader").hide();
                $("#noAnswers").remove();
                $("#newAnswer").remove();
                $(s).hide().appendTo("#answers").fadeIn(300);
                $(".slider-range").last().trigger('mySliderTrigger');

            }
    </script>
    <script src="~/Scripts/AnswerAndEvaluateCommon.js"></script>
}