@if (Request.IsAuthenticated)
{

    <li>
        <div class="accountWrap">
            Prihlásený ako: <span style="font-size:18px">@(User.Identity.Name)</span>
        </div>
    </li>
    <li>
        <div class="accountWrap">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a  href="javascript:document.getElementById('logoutForm').submit()">Odhlásiť sa</a>
        }
        </div>
    </li>

}

else{
<li>
    @Html.ActionLink("Prihlásiť sa", "login", "account")
</li>
}

