@model ICollection<CQA.Models.EvaluatedAnswers>
@{
    ViewBag.Title = "Ohodnotené odpovede";
}

<h3>Vaše ohodnotené odpovede</h3>

@foreach (var ea in Model)
{
    <div id="setup">@(ea.Setup.Subject.Name + " " + ea.Setup.Name + 
        "Počet nových ohodnotených odpovedí:" + ea.UnseenCount)
    </div>
    foreach(var a in ea.Answers){
        <div class="evaluatedAnswer">
            <div>@(a.Question.QuestionText)</div>
            <div>@(a.Text)</div>
            <div>@(a.GetAvgEvaluation())</div>
        </div>
    }
}