@model CQA.Models.Setup

@{
    ViewBag.Title = "Vymazať setup";
}

<h2>Vymazať setup</h2>

<h3>Naozaj chcete vymazať setup  @Html.DisplayFor(model => model.Name) z predmetu @Html.DisplayFor(model => model.Subject.Name)?</h3>
<h4>(Vymazaním setupu sa vymažú aj všetky otázky tohto setupu)</h4>

@using (Html.BeginForm()) {
    <p>
        <button type="submit" class="btn"> Vymazať setup</button> |
        @Html.ActionLink("Späť na setupy", "Index")
    </p>
}
