@model CQA.Models.Question

@{
    ViewBag.Title = "Odpovedzte na otázku";
}


@section Styles {
        @Styles.Render("~/Content/themes/base/css")
}

<h3>Odpovedzte na otázku</h3>

<div class="question">
    Otázka:
    <h3>@Html.DisplayFor(model => model.QuestionText)</h3>
    @if (Model.Hint != null)
    {
        <div id="hint"> @Ajax.ActionLink("Zobraziť nápovedu", "GetHint", "QuestionsAndAnswers", new { questionId = Model.QuestionId }, new AjaxOptions
                   {
                       OnSuccess = "showHint(data)",
                       HttpMethod = "GET"
                   },
                   new { @class = "btn" })        
        </div>
    }
</div>

<div id="answer" style="display:none">Vaša odpoveď:
    <h3></h3>
</div>

<div class="alert alert-success" style="display:none">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Ďakujeme za odpoveď. Po dosiahnutí minimálneho potrebného množstva hodnotení Vás notifikujeme
    a hodnotenie správnosti Vašej odpovede si budete môcť pozreť cez odkaz Moje odpovede v menu.
    <br/> ( Hodnotenie však nebude konečné a časom sa môže zmeniť )
</div>

 @{Html.RenderPartial("_CreateAnswerForm", new CQA.Models.CreateAnswer(Model.QuestionId));}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/AnswerAndEvaluateCommon.js"></script>   
        <script>
            jQuery(document).ready(function ($) {
                $("#MenuSetupItem"+@(Model.SetupId)).addClass("activeMenuItem")
            })

            function AnswerCreated(data) {
                $("#answer").children("h3").append(data.answerText);
                $("#next").fadeIn();
                $("#newAnswer").fadeOut();
                $("#answer").fadeIn();
                $(".alert").fadeIn();
            }
    </script>
    <script src="~/Scripts/AnswerAndEvaluateCommon.js"></script>
}