@{
    ViewBag.Title = "NothingToDoHere";
}
<br />
<div class="alert alert-success" >
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Ďakujeme za Vašu snaživosť. Momentálne pre Vás nie sú v systéme žiadne otázky ani hodnotenia, prídťe prosím zase neskôr
</div>

<div style="width:100%; text-align:center">
    <img src="~/Images/Nothing_2479d8_2822723.gif" />
</div>